<extend name="Public/base"/>
<block name="body">
<div class="page-ban" style=" background:url('__IMG__/news.png') #4AA1CC no-repeat center top;">
  <div class="container">
      <h1>{$channelInfo.title}</h1>
      <p>{$channelInfo.name}</p>
  </div>  
</div>
<div class="con-bg pt30">
    <div class="container">
        <div class="news_list  clearfix">         
            <volist name="list" id="vo">            
             <ul>
                <li>
                    <dl>
                        <dt style="height:165px; width:165px; overflow:hidden; border:none"><img src="__ROOT__/Uploads/Images/{$vo.img}" alt="{$vo.title}" width="165"></dt>
                        <dd>
                            <p class="tit"><a href="__MODULE__/article/Content/id/{$vo.id}" title="{$vo.title}">{$vo.title}</a></p>
                            <p class="date">{$vo.createtime|date='Y-m-d',###} </p>
                            <p class="txt">
                                {$vo.description}
                            </p>
                            <p class="more">
                                <a href="__MODULE__/article/Content/id/{$vo.id}">阅读全文</a>
                            </p>
                        </dd>
                    </dl>
                </li>
             </ul>
            </volist>
            <div class="page">{$page}</div>
        </div>
    </div>
</div>    
</block>