<extend name="Public/base"/>
<block name="body">
<div class="page-ban" style=" background:url('__IMG__/news.png') #4AA1CC no-repeat center top;">
  <div class="container">
      <h1>{$channelInfo.title}</h1>
      <p>{$channelInfo.name}</p>
  </div>  
</div>
<div class="con-bg pt30">
    <div class="container news_detail">
       <h6>{$info.title}</h6>
       <p class="date">发布人：管理员&nbsp;&nbsp;&nbsp;&nbsp;浏览{$info.hits}次&nbsp;&nbsp;&nbsp;&nbsp;{$info.createtime|date='Y-m-d',###}</p>
      <div class="content"> {$info.content|htmlspecialchars_decode}</div>
       
    </div>
</div>    
</block>