  <!DOCTYPE html>
<html lang="en">
<head>
<title>JwsCms内容管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__CSS__/style.css" />
<script src="__STATIC__/js/jquery-1.7.2.min.js"></script> 

</head>
<body>
	
	<div class="place"><span>位置：</span><ul class="placeul"><li><a href="#">首页</a></li><li><a href="#">表单</a></li></ul></div>
    
  <div class="formbody">
    <div class="formtitle"><span>{$meta_title}</span></div>
    <form action="{:U('add')}" method="post">
	    <ul class="forminfo">
		    <li><label>角色名</label><input type="text" name="name" class="dfinput" value="{$info.name|default=''}"><i>标题不能超过30个字符</i></li>
		    <li><label>角色描述</label><input type="text" name="remark"  class="dfinput" value="{$info.remark|default=''}"><i>多个关键字用,隔开</i></li>
		    <li><label>角色描述</label><cite><input type="radio" name="status" value="1" <if condition="($info['status'] eq 1)"> checked="checked" </if>> 开启&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="status" value="0" <if condition="($info['status'] eq 0)"> checked="checked" </if>> 关闭</cite></li>
		    <li><label>&nbsp;</label><input type="hidden" name="id" value="{$info.id}"><button class="btn btn-primary" type="submit">保存</button></li>
		  </ul>
    </form>
    </div>
</body>
</html>
