  <!DOCTYPE html>
<html lang="en">
<head>
<title>JwsCms内容管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__CSS__/style.css" />
<script src="__STATIC__/js/jquery-1.7.2.min.js"></script> 

</head>
<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    	<ul class="toolbar">
        <li class="click"><a href="{:U('add')}"><span><img src="__IMG__/t01.png" /></span>添加</a></li>
        <li><span><img src="__IMG__/t03.png" /></span>删除</li>
      </ul>
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	    <tr>
            <th>ID</th>
            <th>角色名</th>
            <th>角色描述</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
         <volist name="list" id="vo">
            <tr>
	            <td>{$vo.id}</td>
	            <td>{$vo.name}</td>
	            <td>{$vo.remark}</td>
	            <td><if condition="$vo['status']">开启<else/>关闭</if></td>
	            <td><a href="{:U('role',array('role_id'=>$vo['id'] ))}" title="授权" class="grant"></a>  <a href="{:U('edit',array('id'=>$vo['id'] ))}" title="编辑" class="edit"></a> <a href="{:U('del',array('id'=>$vo['id']))}" title="删除" class="del"></a></td>
            </tr>
          </volist>      
        </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>