<!DOCTYPE html>
<html lang="en">
<head>
<title>JwsCms内容管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__CSS__/style.css" />
<script src="__STATIC__/js/jquery-1.7.2.min.js"></script> 

</head>
<body>


  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
      <li><a href="#">首页</a></li>
      <li><a href="#">表单</a></li>
    </ul>
  </div>

  <div class="formbody">

    <div class="formtitle"><span>{$info['id']?'编辑':'新增'}推荐位置</span></div>
    <form action="{:U('edit')}" method="post" class="from_tab">
      <ul class="forminfo">
        <li>
          <label>标题:</label>
          <input type="text" name="title" class="dfinput" value="{$info.title}" ></li>
         <li><label>栏目类型：</label>
                <div class="vocation">
                    <select name="model" class="dfselect">
                          <volist name="modelList" id="vo">
                              <option value="{$vo.channel}" <if condition="$info['model'] eq $vo['channel']"> selected </if>>{$vo.name}</option>
                          </volist>
                    </select>  
                </div>
             </if>  
        </li>
         <li><label>描述：</label><textarea style="height:60px;" class="dftext" name="remark" id="remark">{$info.remark}</textarea></li>
         <li><label>排序：</label><input type="text" name="sort" class="dfinput" value="{$info.sort}" ></li>
        <li>
          <label>状态</label>
          <cite>
            <input type="radio" name="status" value="1"  <if condition="$info['status'] eq 1"> checked="checked" </if> > 开启&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="status" value="0" <if condition="$info['status'] eq 0"> checked="checked" </if>> 关闭
          </cite>
        </li>
        <li>
          <label>&nbsp;&nbsp;</label>
          <input type="hidden" name="id" value="{$info.id}">
          <button class="btn btn-primary" type="submit">保存</button>
        </li>
      </ul>

    </form>
  </div>

</body>
</html>