<extend name="Public/base"/>
<block name="body">
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>{$meta_title}</h5>
             <div class="buttons">
                 <a class="btn" href="javascript:history.go(-1);">返回</a>
             </div>
           </div>
          <div class="widget-content ">
                    <form class="form-horizontal" action="{:U('Admin/Config/Add')}" method="post">
                                    <div class="control-group">
                                        <label class="control-label">配置标识</label>
                                        <div class="controls">
                                            <input type="text" name="name" class="span8">
                                            <span class="help-block blue">（用于C函数调用，只能使用英文且不能重复）</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">配置标题</label>
                                        <div class="controls">
                                            <input type="text" name="title" class="span8">
                                            <span class="help-block blue">（用于后台显示的配置标题）</span>
                                        </div>
                                    </div>
                                  <div class="control-group">
                                        <label class="control-label">排序</label>
                                        <div class="controls">
                                            <input type="text" name="sort" class="span8">
                                            <span class="help-block blue">（用于分组显示的顺序）</span>
                                        </div>
                                    </div>
                                  <div class="control-group">
                                        <label class="control-label">配置类型</label>
                                        <div class="controls">
                                            <select name="type" class="span8">
											  <volist name="Think.config.CONFIG_TYPE_LIST" id="type">
									            <option value="{$key}">{$type}</option>
								              </volist>
								            </select>
                                            <span class="help-block blue">（系统会根据不同类型解析配置值）</span>
                                        </div>
                                    </div>
                                 <div class="control-group">
                                        <label class="control-label">配置分组</label>
                                        <div class="controls">
                                            <select name="group" class="span8">
										       <volist name="Think.config.CONFIG_GROUP_LIST" id="group">
													<option value="{$key}">{$group}</option>
												</volist>
										    </select>
                                            <span class="help-block blue">（配置分组 用于批量设置 不分组则不会显示在系统设置中）</span>
                                        </div>
                                    </div>
                                 <div class="control-group">
                                        <label class="control-label">配置值</label>
                                        <div class="controls">
                                            <textarea name="value" class="span8"></textarea>
                                            <span class="help-block blue">（配置值）</span>
                                        </div>
                                    </div>
                                 <div class="control-group">
                                        <label class="control-label">配置项</label>
                                        <div class="controls">
                                            <textarea name="extra" class="span8"></textarea>
                                            <span class="help-block blue">（如果是枚举型 需要配置该项）</span>
                                        </div>
                                    </div>
                                 <div class="control-group">
                                        <label class="control-label">说明</label>
                                        <div class="controls">
                                            <textarea name="remark" class="span8"></textarea>
                                            <span class="help-block blue">（配置详细说明）</span>
                                        </div>
                                    </div>
                               <div class="form-actions">
                               <button class="btn btn-primary" type="submit">保存</button>
                           </div>
                     </form>
          </div>
        </div>
</block>
